html {
    scroll-behavior: smooth;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li:first-child {
    margin-left: 0;
}

.navbar-menu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar-menu li a:hover {
    color: #f33;
}

body {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact p{
 text-align:justify;
}

a {
    color: inherit;
}

.no-underline {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.item {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px;
}

.item img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
    margin-bottom:10px;
    border-radius: 10px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 16px;
    color: #888;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

h3 {
    padding-left: 20px;
    font-size: 30px;
}

header {
    background-color: #303030;
    color: #fff;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    margin-top: 2%;
}

footer {
    background-color: #303030;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

footer a {
color: #f33;
text-decoration: none;
padding: 5px;
}

footer a:hover {
    color: #7be456;
    text-decoration: underline;
}


.toggle {
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-right: 20px;
}
    .toggle a {
        margin-right: 10px;
    }


.label {
    font-size: 26px;
    cursor: pointer;
}

section {
    background-color: #444;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #303030;
}

/* color of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

/* on hover, change color of scrollbar handle */
::-webkit-scrollbar-thumb:hover {
   background-color: #888;
}

.hidden {
    display: none;
}
